.contactPage{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin:  0 auto;
    text-align: center;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 50px;
}
.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.clientDesc {
    font-weight: 300;
    font-size: 1rem;
}

.clientImgs {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientImg {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
    
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;

}
.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 90vw;
    max-width: 60rem;
}
.name,.email,.msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border:none;
    background-color: rgb(40, 40, 40);
}

.submitBtn{
    background:rgb(128, 124, 124);
    border:none;
    border-radius:0.5rem ;
    margin:2rem;
    padding: 0.7rem 3.5rem;
}

.submit:hover{
    color: aqua;
}

.links{
    display: flex;
    flex-wrap: wrap;
}

.link{
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0  0.75rem;

}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: 1px solid transparent; 
    background-color: rgb(40, 40, 40);
    transition: border-color 0.3s ease; 
}

.name:hover, .email:hover, .msg:hover {
    border-color: rgb(0, 106, 255);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #19b2ff;
    box-shadow: 0 0 10px rgba(255, 237, 237, 0.2);
    padding: 20px;
    text-align: center;
    z-index: 1000; 
    display: none; 
  }
  
  .popup.show {
    display: block; 
  }
  
  .popup .icon {
    font-size: 24px;
    margin-bottom: 10px;
  }
  